doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Визуализации
    link(href='lib/stylesheets/bootstrap.min.css', rel='styleSheet')
    link(href='stylesheets/starter-template.css', rel='styleSheet')

  body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Visual Math
        //.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            li
              a(href='#about') About
            li
              a(href='#contact') Contact
        // /.nav-collapse
    .container
      .starter-template
        h1 Визуализации
        p.lead
          a(href='Ролля теорема.html') Теорема Ролля
          br
          a(href='Лагранж.html') Теорема Лагранжа
          br
          a(href='Коши th.html') Теорема Коши
          br
          a(href='int.html') int
          br
          a(href='Корытова/index.html') index
          br
          a(href='Корытова/Riemann.html') Riemann
          br
          a(href='Корытова/Riemann_1.html') Riemann_1
          br
          a(href='Корытова/Sequences_new3.html') Sequences_new3
          br
          a(href='Тиунов/riemann_19_08/newRiemann.html') newRiemann
          br
          a(href='Тиунов/sequences/Предел числовой последовательности.html') Предел числовой последовательности
          br
          a(href='Тиунов/sequences/visualisations/sequences/Sequences_new3.html') Sequences_new3
        h2 Равномерная непрерывность
        p.lead
          br
          a(href='p12ex9.html') 12.9
          br
          a(href='p14ex2_bnav.html') 14.2
          br
          a(href='p14ex2_cnav.html') 14.2
          br
          a(href='p14ex2nav.html') 14.2
          br
          a(href='p14ex5nav.html') 14.5
          br
          a(href='p15ex14nav.html') 15.14
          br
          a(href='p15ex15nav.html') 15.15
          br
          a(href='p16ex10nav.html') 16.10
          br
          a(href='p18ex5nav.html') 18.5
        h2 Ряды
        p.lead
          a(href='taylor/index.html') Тейлор
          br
          a(href='classes C/index.html') Теорема Коши о перестановке абсолютно сходящегося ряда
          br
          a(href='classes R/index.html') Теорема Римана о перестановке условно сходящегося ряда
          br
        h2 Графар
        p.lead
          a(href='Calculus_plot_v044/index.html') index
          br
          a(href='calc_plot_v054r/animation.html') animation
          br
          a(href='Calculus_plot_v044/contour.html') contour
          br
          a(href='Calculus_plot_v044/PD_multiplot.html') PD_multiplot
          br
          a(href='Calculus_plot_v044/cond_extrema.html') cond_extrema
          br
          a(href='Calculus_plot_v044/compound_area.html') compound_area
          br
          a(href='calc_plot_v054r/compound_area.html') compound_area
          br
          a(href='Calculus_plot_v044/vecfields.html') vecfields
          br
          a(href='Calculus_plot_v044/playground.html') playground
          br
          a(href='Calculus_plot_v044/tang_planes.html') tang_planes
          br
          a(href='Calculus_plot_v044/levels.html') levels
          br
          a(href='Calculus_plot_v044/derivative.html') derivative
          br
          a(href='Calculus_plot_v044/extrema.html') extrema
          br
          a(href='grafar_a031/_g-gl-inter_test_suite.html') _g-gl-inter_test_suite
          br
          a(href='grafar_a031/compound_area.html') compound_area
          br
          a(href='grafar_a031/derivative.html') derivative
          br
          a(href='grafar_a031/levels.html') levels
          br
          a(href='grafar_a0311b/compound_area.html') compound_area
          br
          a(href='My_Work4/38.2(а).html') 38.2(а)
          br
          a(href='My_Work4/38.2(б).html') 38.2(б)
          br
          a(href='My_Work4/65.3(а).html') 65.3(а)
          br
          a(href='My_Work4/65.3(б).html') 65.3(б)
          br
          a(href='My_Work4/65.3(в).html') 65.3(в)
          br
          a(href='My_Work4/65.4(а).html') 65.4(а)
          br
          a(href='My_Work4/65.4(б).html') 65.4(б)
          br
          a(href='My_Work4/65.5(а).html') 65.5(а)
          br
          a(href='My_Work4/65.5(б).html') 65.5(б)
          br
          a(href='My_Work4/65.5(в).html') 65.5(в)
          br
          a(href='My_Work4/65.5(г).html') 65.5(г)
          br
          a(href='My_Work4/65.5(д).html') 65.5(д)
          br
          a(href='My_Work4/65.5(е).html') 65.5(е)
          br
          a(href='My_Work4/65.5(ж).html') 65.5(ж)
          br
          a(href='My_Work4/65.8.html') 65.8
          br
          a(href='My_Work4/66.1(а).html') 66.1(а)
          br
          a(href='My_Work4/66.1(б).html') 66.1(б)
          br
          a(href='My_Work4/66.1(в).html') 66.1(в)
          br
          a(href='My_Work4/66.1(д).html') 66.1(д)
          br
          a(href='My_Work4/66.3(а).html') 66.3(а)
          br
          a(href='My_Work4/66.3(б).html') 66.3(б)
          br
          a(href='My_Work4/66.3(в).html') 66.3(в)
          br
          a(href='My_Work4/66.3(г).html') 66.3(г)
          br
          a(href='My_Work4/66.4(а).html') 66.4(а)
          br
          a(href='My_Work4/66.4(б).html') 66.4(б)
          br
          a(href='My_Work4/66.4(г).html') 66.4(г)
          br
          a(href='My_Work4/66.4(д).html') 66.4(д)
          br
          a(href='My_Work4/66.4(е).html') 66.4(е)
          br
          a(href='My_Work4/66.4(ж).html') 66.4(ж)
          br
          a(href='My_Work4/animation.html') animation
          br
          a(href='My_Work4/compound_area.html') compound_area